#!/bin/bash

# Enable simple aliases to be sudo'ed. ("sudone"?)
# http://www.gnu.org/software/bash/manual/bashref.html#Aliases says: "If the
# last character of the alias value is a space or tab character, then the next
# command word following the alias is also checked for alias expansion."
alias sudo='sudo '

# use vim
alias vi="vim"

# Confirm before overwriting
# -----------------------------------------------------------------------------
# I know it is bad practice to override the default commands, but this is for
# my own safety. If you really want the original "instakill" versions, you can
# use "command rm", "\rm", or "/bin/rm" inside your own commands, aliases, or
# shell functions. Note that separate scripts are not affected by the aliases
# defined here.
#alias cp='cp -i'
#alias mv='mv -i'
#alias ln='ln -i'

alias rm='rm -I'                    # 'rm -i' prompts for every file  

# safety features
alias chown='chown --preserve-root'  
alias chmod='chmod --preserve-root'  
alias chgrp='chgrp --preserve-root'  

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"
alias g="git"
alias h="history"
alias j="jobs"

# command with color
if [ "$TERM" != "dumb" ]; then

  # dircolors
  if [ -s "$HOME/.dircolors" ]; then
    eval "`dircolors -b $HOME/.dircolors`"
  else
    eval "`dircolors -b`"
  fi

  # Use "colordiff" or "highlight" to colour diffs.
  if command -v colordiff > /dev/null; then
    alias difflight='colordiff | less -XFIRd'
  elif command -v highlight > /dev/null; then
    alias difflight='highlight --dark-red ^-.* | highlight --dark-green ^+.* | highlight --yellow ^Only.* | highlight --yellow ^Files.*differ$ | less -XFIRd'
  else
    alias difflight='less -XFIRd'
  fi

  # colorize these commands if possible
  if which grc &>/dev/null; then
    alias .cl='grc -es --colour=auto'
    alias configure='.cl ./configure'
    alias diff='.cl diff'
    alias make='.cl make'
    alias gcc='.cl gcc'
    alias g++='.cl g++'
    #alias as='.cl as'
    #alias gas='.cl gas'
    alias ld='.cl ld'
    alias netstat='.cl netstat'
    alias ping='.cl ping -c 10'
    alias traceroute='.cl traceroute'
  fi

  # Colorize the grep command output for ease of use (good for log files)
  alias grep='grep --color=auto'
  alias egrep='egrep --color=auto'
  alias fgrep='fgrep --color=auto'
  
  # list all files colorized in long format
  alias l="ls -lhF --color=auto"
  # Show hidden files
  alias l.="ls -dlhF .* --color=auto"
  # use colors
  alias ls="ls -F --color=auto"
  # displays all files and directories in detail
  alias la="ls -laFh --color=auto"
  # displays all files and directories in detail with newest-files at bottom
  alias lr="ls -laFhtr --color=auto"
  # show files and directories (also in sub-dir) that was touched in the last hour
  alias lf='find ./* -ctime -1 | xargs ls -ltr --color'
  # displays files and directories in detail
  alias ll="ls -lFh --color=auto --group-directories-first"
  # shows the most recently modified files at the bottom of
  alias llr="ls -lartFh --color=auto --group-directories-first"
  # list only directories
  alias lsd="ls -lFh --color=auto | grep --color=never '^d'"
  # displays files and directories
  alias dir="ls --color=auto --format=vertical"
  # displays more information about files and directories
  alias vdir="ls --color=auto --format=long"
fi

# Clipboard access. I created these aliases to have the same command on
# Cygwin, Linux and OS X.
if command -v pbpaste >/dev/null; then
  alias getclip="pbpaste"
  alias putclip="pbcopy"
elif command -v xclip >/dev/null; then
  alias getclip="xclip --out"
  alias putclip="xclip --in"
fi

# the load-avg
alias loadavg="cat /proc/loadavg"

# show all partitions
alias partitions="cat /proc/partitions"

# speedtest: get a 100MB file via wget
alias speedtest="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test100.zip"

# displays a directory tree
alias tree="tree -Csu"

# Gzip-enabled `curl`
alias gurl='curl --compressed'

# get week number
alias week='date +%V'

# show the timestamp in the ISO 8601 format
alias timestamp_iso_8601='date "+%Y%m%dT%H%M%S"'

#show a clean date: YYYY-MM-DD
alias date_clean='date "+%Y-%m-%d"'

# stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# mkdir: always create parent-dirs, if needed
alias mkdir="mkdir -p"

# create a dir with date from today
alias mkdd='mkdir $(date +%Y%m%d)'

# get / check for updates
alias updates='sudo apt-get update'

# IP addresses
alias myip_dns="dig +short myip.opendns.com @resolver1.opendns.com"
alias myip_http="GET http://ipecho.net/plain && echo"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# empty the your trash-dir 
alias emptytrash="rm -rfv ~/.local/share/Trash/*"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# intuitive map function
# 
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# one of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done

# make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# pass options to free
alias meminfo='free -m -l -t'

# get top process eating memory
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
 
# get top process eating cpu
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'

# Get server cpu info
alias cpuinfo='lscpu'
# older system use /proc/cpuinfo
#alias cpuinfo='less /proc/cpuinfo'

# shows the corresponding process to ...
alias psx='ps auxwf | grep '

# shows the process structure to clearly
alias pst='pstree -Alpha'

# shows all your processes
alias psmy='ps -ef | grep $USER'

# displays the ports that use the applications
alias lsport='sudo lsof -i -T -n'

# shows more about the ports on which the applications use
alias llport='netstat -nape --inet --inet6'

# shows the disk usage of a directory legibly
alias du='du -kh'

alias du_overview='du -h | grep "^[0-9,]*[MG]" | sort -hr | less'

# shows the complete disk usage to legibly
alias df='df -kTh'

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# faster npm for europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu"

# php - package-manager - composer
alias composer-install="composer install --optimize-autoloader"

#add ssh key to ssh-agent when key exist
if [ "$SSH_AUTH_SOCK" != "" ] && [ -f ~/.ssh/id_rsa ] && [ -x /usr/bin/ssh-add  ]; then 
  ssh-add -l >/dev/null || alias ssh='(ssh-add -l >/dev/null || ssh-add) && unalias ssh; ssh'
fi

