# Make vim the default editor
export PAGER="less"
export EDITOR="vim"
export VISUAL=$EDITOR

# PATH addons
[ -d "$HOME/bin" ] && PATH="$HOME/bin:$PATH"
if [ "$UID" != 0 ]; then
    PATH="$PATH:/usr/local/bin:/usr/sbin:/sbin:/usr/local/sbin"
fi
export PATH

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
# ignore duplicates commands in the historylog¬
HISTCONTROL=$HISTCONTROL${HISTCONTROL+:}ignoredups
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
# add the date to the historylog¬
export HISTTIMEFORMAT="%F %T "

# Prefer US English and use UTF-8
#export LANG="en_EN.UTF-8"
#export LC_ALL="en_EN.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"
