# user settings
.extra
.path

# Ctags file
tags

# Vim swap files
*.sw?

# Vim session files
*.vimsession

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
